@model AdLumeDash.Models.ViewModels.Equipamento.EquipamentoIndexViewModel

<h2 class="mb-4">Equipamentos</h2>

<div class="card card-clean p-4">

    @if (!Model.Itens.Any())
    {
        <p class="text-muted mb-0">
            Nenhum equipamento encontrado.
        </p>
    }
    else
    {
        <p>Lista aqui depois...</p>
    }

</div>