<h2 class="mb-4">Visão Geral</h2>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card card-clean p-3">
            <h6 class="text-muted">
                <i class="bi bi-display me-2"></i> Equipamentos
            </h6>
            <h3>12</h3>
            <a href="/Equipamento" class="btn btn-sm btn-primary mt-2">
                <i class="bi bi-plus-lg"></i> Gerenciar
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-clean p-3">
            <h6 class="text-muted">Vídeos</h6>
            <h3>48</h3>
            <a href="/Video" class="btn btn-sm btn-primary mt-2">Gerenciar</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-clean p-3">
            <h6 class="text-muted">Playlists</h6>
            <h3>5</h3>
            <a href="/Playlist" class="btn btn-sm btn-primary mt-2">Abrir</a>
        </div>
    </div>

</div>